<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ListaServlet</servlet-name>
        <servlet-class>painontarkkailu.ListaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaKayttajaServlet</servlet-name>
        <servlet-class>painontarkkailu.LisaaKayttajaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaHarjoiteServlet</servlet-name>
        <servlet-class>painontarkkailu.LisaaHarjoiteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaLajiServlet</servlet-name>
        <servlet-class>painontarkkailu.LisaaLajiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RuokailuServlet</servlet-name>
        <servlet-class>painontarkkailu.RuokailuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaRaakaaineServlet</servlet-name>
        <servlet-class>painontarkkailu.LisaaRaakaaineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LaskuritServlet</servlet-name>
        <servlet-class>painontarkkailu.LaskuritServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LaskeKulutusServlet</servlet-name>
        <servlet-class>painontarkkailu.LaskeKulutusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaServlet</servlet-name>
        <url-pattern>/Lista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaKayttajaServlet</servlet-name>
        <url-pattern>/LisaaKayttaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaHarjoiteServlet</servlet-name>
        <url-pattern>/LisaaHarjoite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaLajiServlet</servlet-name>
        <url-pattern>/LisaaLaji</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RuokailuServlet</servlet-name>
        <url-pattern>/Ruokailu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaRaakaaineServlet</servlet-name>
        <url-pattern>/LisaaRaakaaine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LaskuritServlet</servlet-name>
        <url-pattern>/Laskurit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LaskeKulutusServlet</servlet-name>
        <url-pattern>/LaskeKulutus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
